$premium : #FFB800;
$box-shadow: 0 .5rem 20px rgba(0, 0, 0, 0.2);
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.nav-link{
    padding: 0 !important;
    height: 2rem;
    display: flex;
    align-items: center;
}
main{
    min-height: 100vh;
    margin-bottom: max(60vh);
}
section{
    margin-top: max(20vh, 100px);
    padding: 20vh 0 10vh 0;
    min-height: 50vh;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.font-smallest{
    font-size: 0.85rem;
}
.color-premium {
    color: $premium;
}
.space-left{
    padding-left: 10vw!important;
}
.vertical-align-top{
    vertical-align: top;
}
// @media only screen and (768px <= width <= 992px) {
//     html{
//         font-size: 15px;
//     }
// }
@media only screen and (576px <= width <= 768px) {
    html{
        font-size: 14.2px;
    }
}
@media only screen and (width <= 576px) {
    html{
        font-size: 12px;
    }
}